[Desktop Entry]
Exec=/usr/bin/sh -c 'exec $HOME/.local/bin/kde-switch-screen next'
Name=kde-switch-screen-next
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
