[Desktop Entry]
Exec=/usr/bin/sh -c 'exec $HOME/.local/bin/kde-panel-hide'
Name=kde-panel-hide
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
