[Desktop Entry]
Exec=/usr/bin/sh -c 'exec $HOME/.local/bin/kde-switch-screen prev'
Name=kde-switch-screen-prev
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
